body{
    text-align: center;
}

body{
    background-color: rgb(92, 91, 91);
}

#bouton1{
    font-size: 50px;
    color: black;
    background-color: white;
}
#bouton1:hover{
    color: white;
    background-color: black;
}

#reponse1{
    font-size: 50px;
    color: black;
    background-color: white;
}
#reponse1:hover{
    color: white;
    background-color: black;
}
#reponse2{
    font-size: 50px;
    color: black;
    background-color: white;
}
#reponse2:hover{
    color: white;
    background-color: black;
}
#reponse3{
    font-size: 50px;
    color: black;
    background-color: white;
}
#reponse3:hover{
    color: white;
    background-color: black;
}
#reponse4{
    font-size: 50px;
    color: black;
    background-color: white;
}
#reponse4:hover{
    color: white;
    background-color: black;
}
