body{
    text-align: center;
}

body{
    background-color: rgb(92, 91, 91);
}

#bouton1{
    font-size: 50px;
    color: black;
    background-color: white;
    border: solid 2px black;
}
#bouton1:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
#maison1{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: RED;
}
#maison2{
    
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: green;
}
#maison3{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: blue;
}
#maison4{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: gold;
}
#question{
    font-size: 50px;
    border-top: 40px;
    margin-top: 60px;
    border: solid 2px black;
}
#courage{
    font-size: 50px;
    color: black;
    background-color: white;
    margin-top: 40px;
    border: solid 2px black;
}
#courage:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
#Ambition{
    font-size: 50px;
    color: black;
    background-color: white;
    border: solid 2px black;
}
#Ambition:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
#Intelligence{
    font-size: 50px;
    color: black;
    background-color: white;
    border: solid 2px black;
}
#Intelligence:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
#bonté{
    font-size: 50px;
    color: black;
    background-color: white;
    border: solid 2px black;
}
#bonté:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
