body{
    text-align: center;
    font-family: arial;
    background-color: rgb(145, 144, 143);
}
#H2{
    text-align: right;
}
#H1{
    font-size: 50px;
}
#bouton1{
    font-size: 40px;
    color: black;
    background-color: white;
    border: solid 2px yellow;
}
#bouton1:hover{
    color: white;
    background-color: black;
    border: solid 2px green;
}
#maison1{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: RED;
}
#maison2{
    
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: green;
}
#maison3{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: blue;
}
#maison4{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 50px;
    color: gold;
}
#question{
    font-size: 50px;
    border-top: 40px;
    margin-top: 60px;
    border: solid 2px black;
}
#Réponse1{
    font-size: 40px;
    color: black;
    background-color: white;
    margin-top: 40px;
    border: solid 2px black;
}
#Réponse1:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
#Réponse2{
    font-size: 40px;
    color: black;
    background-color: white;
    border: solid 2px black;
}
#Réponse2:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
#Réponse3{
    font-size: 40px;
    color: black;
    background-color: white;
    border: solid 2px black;
}
#Réponse3:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
#Réponse4{
    font-size: 40px;
    color: black;
    background-color: white;
    border: solid 2px black;
}
#Réponse4:hover{
    color: white;
    background-color: black;
    border: solid 2px white;
}
